.add {
  position: fixed;
  background-color: #03c75a;
  color: #fff;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 20px;
  top: 70px;
  right: calc((100vw - 414px) / 2);
  z-index: 90;
  border-radius: 5px;
  &::before {
    width: 20px;
    height: 20px;
    content: '';
    display: inline-block;
    background-color: #03c75a;
    position: absolute;
    top: 0;
    right: 5px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top-color: black;
  }
}
