.nav {
  position: fixed;
  top: 50px;
  max-width: 414px;
  height: 45px;
  padding: 0 18px;
  background: #fff;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  z-index: 100;
  ul {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width: 0;
    }
    li {
      display: inline-block;
    }
  }
  a {
    display: inline-block;
    padding: 12px 3px 13px;
    font-size: 16px;
    margin: 0 8px;
    position: relative;
    &.active {
      color: #03c75a;
      font-weight: bold;
      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        height: 2px;
        background: #fff;
        content: '';
        background: #03c75a;
      }
    }
  }
}
